{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Inicio" %}{% endblock %}
{% block title %}{% trans "Start Comillas" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li class="" data-slide-to="0" data-target="#main-slider"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <!--<div style="background-image: url(static/images/slider/bg1.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered" style="margin-top: 265px;">
                                    <h1 class="animation animated-item-1">Start Comillas</h1>
                                    <p class="animation animated-item-2">Fomentando el emprendimiento universitario</p>
                                    <a href="#" class="btn btn-md animation animated-item-3">Nuestra Historia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>--><!--/.item-->
                <div style="background-image: url(static/images/slider/5start.png)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    <h1 class="boxed animation animated-item-1">Realizamos eventos y actividades formativas</h1>
                                    <!--<p class="boxed animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>-->
                                    <br>
                                    <a href="/qué-hacemos" class="btn btn-md animation animated-item-3" style="font-size: 25px">Más información</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/equipostart.png)" class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6" style="padding-left: 50px">
                                <div class="carousel-content centered" style="margin-top: 219px;">
                                    <h1 class="animation animated-item-1" style="font-size: 50px"><b>Start Comillas</b></h1> <br>
                                    <p class="animation animated-item-2" style="font-size: 30px">Fomentando el emprendimiento universitario</p> <br>
                                    <a href="/nuestra-historia" class="btn btn-md animation animated-item-3" style="font-size: 25px">Nuestra Historia</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered" style="margin-top: 129px;">
                                    <div class="embed-container">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/4vCBZEB-Ayo?rel=0&hd=1&showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                                        <!--<iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/69421653?title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f"></iframe>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
    </section>
    <section class="emerald" id="services" style="background-color:#ecac21 ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <span class="icon-md glyphicon glyphicon-briefcase " aria-hidden="true"></span>
                            <!--<i class="icon-twitter icon-md"></i>-->
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Ayudamos a emprender</h3>
                            <p>A través de talleres formativos, eventos y encuentros con personas como tu que están pensando en crear un producto o servicio.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <!--<span class="glyphicon glyphicon-heart icon-md" aria-hidden="true"></span>  -->                          
                            <i class="icon-user icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Creamos comunidad</h3>
                            <p>Formamos parte de la Red Start y trabajamos por y para vosotros con el objetivo de aportaros el máximo valor posible.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-fire icon-md" aria-hidden="true"></span>
                            <!--<i class="icon-google-plus icon-md"></i>-->
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Eventos y actividades</h3>
                            <p>Realizamos diferentes actividades que van destinadas a complementar la formación en la universidad en todas las fases emprendedoras.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section>
	 <section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Algunos ponentes en el 5º aniversario</h3>
                    <p style="margin-top: 20px">Algunos emprendedores que expusieron sus proyectos en el evento en Google Campus.</p>
                    <div class="btn-group" style="margin-top: 20px">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/cropti.jpg" %}" alt="">
                                                <h5>
                                                    Cropti - app gestión agraria
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Valentí co-fundador de Cropti" href="{% static  "images/portfolio/recent/cropti.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/growly.jpg" %}" alt="">
                                                <h5>
                                                    Growly - préstamos a empresas
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Mireia co-fundadora de Growly" href="{% static  "images/portfolio/recent/growly.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/worona.jpg" %}" alt="">
                                                <h5>
                                                    Worona - Wordpress en apps
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Pablo co-fundador Worona" href="{% static  "images/portfolio/recent/worona.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/pompei.jpg" %}" alt="">
                                                <h5>
                                                    Pompei - zapatillas españolas
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Nacho CEO de Pompei" href="{% static  "images/portfolio/recent/pompei.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/flip.jpg" %}" alt="">
                                                <h5>
                                                    Flip - comercializadora eléctrica
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Fernando co-fundador de Flip" href="{% static  "images/portfolio/recent/flip.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/spotahome.jpg" %}" alt="">
                                                <h5>
                                                    Spotahome - alquiler de casas online
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Alejandro CEO de Spotahome" href="{% static  "images/portfolio/recent/spotahome.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
	<section id="testimonial" class="alizarin" style="background-color: #13A87B ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>¿Qué dicen algunos de los alumnos que han pasado por Start?</h2>
                        
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <blockquote>
                                <p>Start es de lo mejor que se puede hacer en la universidad si quieres emprender</p>
                                <small>Javier Agüera <cite title="Source Title"> Forbes Under 30</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Start ha sido una oportunidad magnífica para aprender, conocer gente y desarrollarme.</p>
                                <small>Alvaro <cite title="Source Title">miembro de Start</cite></small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                                <p>Conocer gente, ir a eventos y sobre todo el buen ambiente es lo que destaco de Start.</p>
                                <small>Marta <cite title="Source Title">alumna del taller de Start</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Si alguien quiere emprender, Start es donde debe empezar.</p>
                                <small>Laura <cite title="Source Title">estudiante ICADE</cite></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->


{% endblock %}

